﻿@using xpos314.viewmodels
@model VMTblCustomer

<div class="card">
    <div class="card-body">
        <form asp-action="Deleted" method="post">
            <input type="hidden" id="Id" name="Id" value="@Model.Id" />

            <h3>Are you sure for delete @Model.NameCustomer ?</h3>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Yes</button>
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>


