﻿@using xpos314.viewmodels
@model VMTblCustomer
@{
	Layout = null;
}
<div class="card mt-4">
	<div class="card-body">
		<h4>Detail of : @Model.NameCustomer </h4>
		<div class="form-group row mb-2">
			<div class="col-sm-8">
				<input required type="hidden" class="form-control" name="Id" id="Id" value="@Model.Id">
			</div>
			<div class="form-group row mb-2">
				<label for="NameCustomer" class="col-sm-4 col-form-label">Name</label>
				<div class="col-sm-8">
					<input required type="text" class="form-control" name="NameCustomer" id="NameCustomer" value="@Model.NameCustomer" readonly>
				</div>
			</div><div class="form-group row mb-2">
				<label for="RoleName" class="col-sm-4 col-form-label">Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="RoleName" id="RoleName" value="@Model.RoleName" readonly>
				</div>
			</div>

			<div class="form-group row mb-2">
				<label for="Email" class="col-sm-4 col-form-label">Email</label>
				<div class="col-sm-8">
					<input type="email" class="form-control" name="Email" id="Email" value="@Model.Email" readonly>
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="Password" class="col-sm-4 col-form-label">Password</label>
				<div class="col-sm-8">
					<input type="password" class="form-control" name="Password" id="Password" value="@Model.Password" readonly>
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="Address" class="col-sm-4 col-form-label">Address</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="Address" id="Address" value="@Model.Address" readonly>
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="Phone" class="col-sm-4 col-form-label">Phone</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="Phone" id="Phone" value="@Model.Phone" readonly>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-10">
					<a class="btn btn-secondary" asp-controller="Customer" asp-action="Index">Back</a>
				</div>
			</div>
	</div>
</div>