﻿@using xpos314.viewmodels
@model VMTblCustomer
@{
	Layout = null;
	ViewData["Title"] = "Edit Customer";
}
<div class="card mt-4">
	<div class="card-body">
		<h4>@ViewData["Title"]</h4>
		<form asp-action="Edit" method="post" id="form_input">
			<div class="form-group row mb-2">
				<div class="col-sm-8">
					<input required type="hidden" class="form-control" name="Id" id="Id" value="@Model.Id">
				</div>
			<div class="form-group row mb-2">
				<label for="NameCustomer" class="col-sm-4 col-form-label">Name</label>
				<div class="col-sm-8">
					<input required type="text" class="form-control" name="NameCustomer" id="NameCustomer" value="@Model.NameCustomer">
				</div>
			</div>
			<div class="mb-4 row">
				<label for="IdRole" class="col-sm-4 col-form-label">Role</label>
				<div class="col-sm-8">
					@Html.DropDownList("IdRole",new SelectList(ViewBag.ListRole, "Id", "RoleName"),"--Choose Role--",new {@class = "form-control"})
				</div>
			</div>

			<div class="form-group row mb-2">
				<label for="Email" class="col-sm-4 col-form-label">Email</label>
				<div class="col-sm-8">
					<input type="email" class="form-control" name="Email" id="Email" value="@Model.Email">
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="Password" class="col-sm-4 col-form-label">Password</label>
				<div class="col-sm-8">
					<input type="password" class="form-control" name="Password" id="Password" value="@Model.Password">
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="Address" class="col-sm-4 col-form-label">Address</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="Address" id="Address" value="@Model.Address">
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="Phone" class="col-sm-4 col-form-label">Phone</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="Phone" id="Phone" value="@Model.Phone">
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>
					<a class="btn btn-secondary" asp-controller="Customer" asp-action="Index">Back</a>
				</div>
			</div>
		</form>
	</div>
</div>

<script>
	$("#form_input").validate({
		errorClass: "text-danger",
		rules: {
			NameCustomer: {
				required: true,
				minlength: 5
			},
			Email: {
				required: true,
			},
			Password: {
				required: true,
			},
			IdRole: {
				required: true
			},
			Address: {
				required: true
			}
		},
		messages: {
			NameCustomer: {
				required: "Please fill this field",
				minlength: "The name must consist of at least 5 characters"
			},
			Email: {
				required: "Please fill with valid email address"
			},
			Password: {
				required: "Please fill with valid email address"
			},
			IdRole: {
				required: "Please choose the Role"
			},
			Address: {
				required: "Please fill this field"
			}
		},
		submitHandler: function (form) {
			var dataForm = $(form).serialize()
			$.ajax({
				url: "/Customer/Edit",
				data: dataForm,
				method: "post",
				dataType: "json",
				success: function (respon) {
					var data = respon.dataRespon
					if (data.success) {
						$("#myModal").modal("hide")
						toastr.success(
							data.message,
							'',
							{
								timeOut: 500,
								fadeOut: 500,
								onHidden: function () {
									window.location.reload()
								}
							}
						)
					} else {
						toastr.error(data.message)
					}
				}
			})
		}
	});
</script>
