﻿@using xpos314.viewmodels
@model VMTblVariant
@{
    Layout = null;
}
<div class="card">
    <div class="card-body">
        <div class="card-title">New Variant</div>
        <form asp-action="Create" method="post" id="form_input">
            <div class="mb-4 row">
                <label for="NameVariant" class="col-sm-4 col-form-label">Name Variant</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameVariant" name="NameVariant" value="@Model.NameVariant" />
                </div>
            </div>

            <div class="mb-4 row">
                <label for="IdCategory" class="col-sm-4 col-form-label">Name Category</label>
                <div class="col-sm-8">
                    @Html.DropDownList("IdCategory",new SelectList(ViewBag.DropDownCategory, "Id", "NameCategory"),"--Choose Category--",new {@class = "form-control"})
                </div>
            </div>

            <div class="mb-4 row">
                <label for="Description" class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-light" asp-action="Index" asp-controller="VariantTry">Back To List</a>
            </div>
        </form>
    </div>
</div>
<script>
    $("#form_input").validate({
        errorClass:"text-danger",
        rules:{
            NameVariant : {
                required : true,
                minlength: 5
            },
            IdCategory : {
                required: true
            }
        },
        messages:{
                NameVariant: {
                    required: "Please fill Name of the Variant",
                    minlength:"The name must consist of at least 5 characters"
            },
            IdCategory :{
                required: "Please choose the Name Category"
            }
        }
    })
</script>