﻿@using xpos314.viewmodels
@model VMTblVariant
@{
    Layout = null;
}
<div class="card">
    <div class="card-body">
            <h3> Are you sure want to delete @Model.NameCategory ? </h3>
        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">@Model.NameVariant</th>
                        <td>@Model.NameCategory</td>
                        <td>@Model.Description</td>
                    </tr>

            </table>
        </div>
        <form asp-action="Delete" method="post">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="modal-footer">
                <button type="submit" class="btn-primary">Sure!</button>
                <a asp-action="Index" class="btn-light">Back To List</a>
            </div>
        </form>
    </div>
</div>