﻿@using xpos314.viewmodels
@{
    ViewData["Title"] = "Variant Try";
}
<div class="card">
   <form asp-action="Index" method="get" id="form_search">
    <div class="card-body">
        <h1 class="card-title">@ViewData["Title"] </h1>
        
        <div class="row mb-3">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <a class="btn btn-primary" id="btn_create" style="cursor:pointer; color : white">
                        Add Variant     
                    </a>

                    <div class="input-group w-50">
                        <input type="text" class="form-control" id="searchString" name="searchString" 
                        value="@ViewBag.currentFilter" placeholder="Search..." />
                    <div class="input-group-prepend">
                        <div class="input-group-text" style="cursor:pointer" id="btn_search"><i class="fas fa-search"></i></div>
                    </div>
                    <div class="input-group-prepend">
                        <div class="input-group-text" style="cursor:pointer" id="btn_reset"><i class="fas fa-redo"></i></div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">
                        <a asp-action="Index" asp-route-sortOrder="@ViewBag.idSort" 
                        asp-route-currentFilter="@ViewBag.currentFilter" 
                        asp-route-pageNumber="@ViewBag.PageIndex" 
                        asp-route-showData="@ViewBag.currentShowData">
                            Id
                        </a>
                    </th>
                    <th scope="col">
                        <a asp-action="Index" asp-route-sortOrder="@ViewBag.nameSort"
                           asp-route-currentFilter="@ViewBag.currentFilter"
                           asp-route-pageNumber="@ViewBag.PageIndex"
                           asp-route-showData="@ViewBag.currentShowData">
                            Name Variant
                        </a>
                    </th>
                    <th scope="col">Name Category</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>

                @{
                    if (Model.Count > 0)
                    {
                        foreach (VMTblVariant f in Model)
                        {
                                                    <tr>
                                                        <th scope="row">@f.Id</th>
                                                        <td>@f.NameVariant</td>
                                                        <td>@f.NameCategory</td>
                                                        <td>@f.Description</td>
                                                        <td>
                                                            <a class="btn btn-primary btn_edit" data-id="@f.Id" style="cursor:pointer; color: white">Edit</a>
                                                            <a class="btn btn-success btn_detail" data-id="@f.Id" style="cursor:pointer; color: white">Detail</a>
                                                            <a class="btn btn-danger  btn_delete" data-id="@f.Id" style="cursor:pointer; color: white"> Delete</a>
                                                        </td>
                                                    </tr>
                        }
                    }
                    else
                    {
                                                <tr>
                                                    <td>Data not found</td>
                                                </tr>
                    }
                }
            </tbody>
        </table>

        <div class="row mb-3">
            <div class="col-sm-12">
                <div class="d-flex justify-content-between">
                    <div class="btn-group">
                        <div class="mr-2">
                            Show
                        </div>
                        <select name="showData" id="select_show" aria-controls="zero_config" class="form-control form-control-sm w-auto">
                            <option value="3">3</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="50">50</option>
                        </select>
                        <div class="ml-2">Entries From @Model.TotalData data</div>
                        <input type="hidden" name="sortOrder" id="sort_change" value="" />
                    </div>

                    @{
                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                    }
                    <div class="w-30">
                        Page @Model.PageIndex of @Model.TotalPages
                        <a asp-action ="Index" 
                           asp-route-sortOrder="@ViewBag.currentSort"
                           asp-route-pageNumber="@(Model.PageIndex-1)"
                           asp-route-currentFilter="@ViewBag.currentFilter"
                           asp-route-showData="@ViewBag.currentShowData"
                           class="btn btn-primary @prevDisabled">
                           Previous
                        </a>
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewBag.currentSort"
                           asp-route-pageNumber="@(Model.PageIndex+1)"
                           asp-route-currentFilter="@ViewBag.currentFilter"
                           asp-route-showData="@ViewBag.currentShowData"
                           class="btn btn-primary @nextDisabled">
                            Next
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </form>
</div>
<script>
    $(document).ready(function () {
     
        $("#select_show").val("@ViewBag.currentShowData")
        
        $("#btn_create").click(function () {
            $("#body_modal").load("/VariantTry/Create")
            $("#myModal").modal("show")
            //alert("Masuk")
        })
        $(".btn_edit").click(function () {
            var id = $(this).data("id")
            $("#body_modal").empty()
            $("#body_modal").load("/VariantTry/Edit?id=" + id)
            $("#myModal").modal("show")
        })
        $(".btn_detail").click(function () {
            var id = $(this).data("id")
            $("#body_modal").empty()
            $("#body_modal").load("/VariantTry/Detail?id=" + id)
            $("#myModal").modal("show")
        })
        $(".btn_delete").click(function () {
            var id = $(this).data("id")
            $("#body_modal").empty()    
            $("#body_modal").load("/VariantTry/Delete?id=" + id)
            $("#myModal").modal("show")
        })
        $("#btn_search").click(function () {
            $("#sort_change").val("@ViewBag.currentSort")
            $("#form_search").submit()
        })
        $("#btn_reset").click(function(){
            $("#searchString").val("")
            $("#form_search").submit()
        })
        $("#select_show").change(function (){
            $("#sort_change").val("@ViewBag.currentSort")
            $("#form_search").submit()
        })

    })
</script>
