﻿@using xpos314.viewmodels
@model VMTblCategory
@{
    Layout = null;
}
<div class="card">
    <div class="card-body">
        <form asp-action="Delete" method="post">
            <input type="hidden" name="Id" value="@Model.Id" />
            <h3> Are you sure want to delete @Model.NameCategory ? </h3>
            <div class="modal-footer">
                <button type="submit" class="btn-primary">Sure!</button>
                <a asp-action="Index" class="btn-light">Back To List</a>
            </div>
        </form>
</div>
</div>