﻿@using xpos314.viewmodels
@model VMTblCategory
@{
    Layout = null;
}
<div class="card">
    <div class="card-body">

        <div class "h4 mb-4"> Detail of: @Model.NameCategory </div>
        <div></div>
            <div class="mb-4 row">
                <label for="NameCategory" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory" readonly>
                    <span asp-validation-for="NameCategory" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-4 row">
                <label for="Description" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description" readonly>
                </div>
            </div>
     
    </div>
</div>