﻿@using xpos314.viewmodels
@model VMTblCategory
@{
    Layout = null;  
}
<div class="card">
    <div class="card-body">

        <div class "h4 mb-4"> New Category </div>
        <div></div>
        <form asp-action="Edit" method="post">
            <input type="hidden" id="Ïd" name="Id" value="@Model.Id" />
            <div class="mb-4 row">
                <label for="NameCategory" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory">
                    <span asp-validation-for="NameCategory" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-4 row">
                <label for="Description" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-action="Index" asp-controller="CategoryTry"> Back to List</a>
                </div>
        </form>
    </div>
</div>