﻿@using xpos314.viewmodels
@{
    ViewData["Title"] = "Category Try";
}
<div class="card">
    <div class="card-body">

        <h1 class="card-title">@ViewData["Title"] </h1>
        <button class="btn btn-primary" id="btn_create"> Add Category </button>
        @*<div class="row">
            <form asp-action="Index" method="get" id="form_search">
            <div class="col-12">
                <div class="customize-input float-right">
                    <div class="input-group">
                        <input type="text" class="form-control" name="searchString" value="@ViewBag.currentFilter" placeholder="Search..." />
                        <div class="input-gruop-prepend">
                            <div class="input-group-text" id="btn_search">
                                <button type="button" class="btn btn-secondary" id="btn_search">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </form>
      </div>*@
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">NameCategory</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (VMTblCategory f in Model)
        {
            <tr>
                <th scope="row">@f.Id</th>
                <td>@f.NameCategory</td>
                <td>@f.Description</td>
                <td>
                            <a class="btn btn-primary btn_edit" data-id="@f.Id" style="cursor:pointer; color: white">Edit</a>
                            <a class="btn btn-success btn_detail" data-id="@f.Id" style="cursor:pointer; color: white">Detail</a>
                            <a class="btn btn-danger  btn_delete" data-id="@f.Id" style="cursor:pointer; color: white"> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#btn_create").click(function(){
            $("#body_modal").empty()
            $("#body_modal").load("/CategoryTry/Create")
            $("#myModal").modal("show")
            //alert("Masuk")
        })
        $(".btn_edit").click(function(){
            var id = $(this).data("id")
            $("#body_modal").empty()
            $("#body_modal").load("/CategoryTry/Edit?id=" + id)
            $("#myModal").modal("show")
        })
        $(".btn_detail").click(function () {
            var id = $(this).data("id")
            $("#body_modal").empty()
            $("#body_modal").load("/CategoryTry/Detail?id=" + id)
            $("#myModal").modal("show")
        })
        $(".btn_delete").click(function () {
            var id = $(this).data("id")
            $("#body_modal").empty()
            $("#body_modal").load("/CategoryTry/Delete?id=" + id)
            $("#myModal").modal("show")
        })
        
    })
</script>