﻿@using xpos314.datamodels
@model TblCategory
@{
	ViewData["Title"] = "Detail Category";
}
<div class="card mt-4">
	<div class="card-body">
		<h4>@ViewData["Title"] : @Model.NameCategory</h4>
			<div class="form-group row mb-2">
				<input type="hidden" id="Id" name="Id" value="@Model.Id" />

				<label for="NameCategory" class="col-sm-4 col-form-label">Name Category</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="NameCategory" id="NameCategory" value="@Model.NameCategory" readonly>
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="Description" class="col-sm-4 col-form-label">Description</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="Description" id="Description" value="@Model.Description" readonly>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-10">
					<a class="btn btn-secondary" asp-controller="Category" asp-action="Index">Back</a>
				</div>
			</div>
	</div>
</div>
