﻿@using xpos314.viewmodels
@model VMTblProduct
@{
	Layout = null;
	ViewData["Title"] = "New Product";
}
<div class="card mt-4">
	<div class="card-body">
		<h4>@ViewData["Title"]</h4>
		<form asp-action="Create" method="post" enctype="multipart/form-data" id="form_input">
			<div class="form-group row mb-2">
				<label for="NameProduct" class="col-sm-4 col-form-label">Product Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="NameProduct" id="NameProduct" value="@Model.NameProduct">
				</div>
			</div>
			<div class="mb-4 row">
				<label for="IdCategory" class="col-sm-4 col-form-label">Category</label>
				<div class="col-sm-8">
					@Html.DropDownList("IdCategory",new SelectList(ViewBag.ListCategory, "Id", "NameCategory"),"--Choose Category--",new {@class = "form-control"})
				</div>
			</div>
			<div class="mb-4 row">
				<label for="IdVariant" class="col-sm-4 col-form-label">Variant</label>
				<div class="col-sm-8">
					@Html.DropDownList("IdVariant",new SelectList(ViewBag.ListVariant, "Id", "NameVariant"),"--Choose Variant--",new {@class = "form-control"})
				</div>
			</div>

			<div class="form-group row mb-2">
				<label for="Price" class="col-sm-4 col-form-label">Price</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="Price" id="Price" value="@Model.Price">
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="Stock" class="col-sm-4 col-form-label">Stock</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="Stock" id="Stock" value="@Model.Stock">
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="ImageFile" class="col-sm-4 col-form-label">Upload</label>
				<div class="col-sm-8">
					<input type="file" class="form-control" name="ImageFile" id="ImageFile" value="@Model.Image">
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>
					<a class="btn btn-secondary" asp-controller="Product" asp-action="Index">Back</a>
				</div>
			</div>
		</form>
	</div>
</div>

<script>
	$("#form_input").validate({
		errorClass: "text-danger",
		rules: {
			NameProduct: {
				required: true,
				minlength: 5
			},
			Price: {
				required: true,
				number : true
			},
			Stock: {
				required: true,
				number : true
			},
			ImageFile:{
				required:true,
				uploadFile:true,
				typeFile:"jpg|png|jpeg"
			},
			IdCategory: {
				required: true
			},
			IdVariant: {
				required: true
			}
		},
		messages: {
			NameProduct: {
				required: "Please fill Name of the Variant",
				minlength: "The name must consist of at least 5 characters",
			},
			Price:{
				required: "Please fill the price",
				number :  "Please fill with numbers",
			},
			Stock: {
				required: "Please fill the stock",
				number: "Please fill with numbers",
			},
			ImageFile:{
				required:"Please fill with image file",
				uploadFile:"Please upload < 1 Mb",
				typeFile:"Please upload jpg/jpeg/png",
			},
			IdCategory: {
				required: "Please choose the Category"
			},
			IdVariant: {
				required: "Please choose the Variant"
			}
		},
		submitHandler: function (form) {
			var formData = new FormData()

			var dataForm = $(form).serializeArray()
			
			$.each(dataForm,function(key,input){
				formData.append(input.name,input.value)
			})

			var file = $("#ImageFile").prop("files")
			if(file.length > 0)
			{
				formData.append("ImageFile",file[0])
			}

			$.ajax({
				url: "/Product/Create",
				data: formData,
				method: "post",
				dataType: "json",
				contentType:false,
				processData:false,
				success: function (respon) {
					var data = respon.dataRespon
					if (data.success) {
						$("#myModal").modal("hide")
						toastr.success(
							data.message,
							'',
							{
								timeOut: 500,
								fadeOut: 500,
								onHidden: function () {
									window.location.reload()
								}
							}
						)
					} else {
						toastr.error(data.message)
					}
				}
			})
		}
	})

	jQuery.validator.addMethod("typeFile",function(value,element,param){
		return value.match(new RegExp("." + param + "$"));
	});

	jQuery.validator.addMethod("uploadFile",function(val,element){
		var size = element.files[0].size;

		if(size > 1048576)
		{
			return false;
		}
		else
		{
			return true;
		}
	});

	$("#IdCategory").change(function(){
		var IdCategory = $(this).val()
		$.ajax({
			url:"/Product/GetDataByIdCategory",
			data:{ id : IdCategory },
			type:"get",
			dataType:"json",
			success: function(respon){
				$("#IdVariant").empty()
				$("#IdVariant").append("<option>--Choose Variant--</option>")
				$.each(respon, function(index,res){
					$("#IdVariant").append("<option value='" + res.id + "'>" + res.nameVariant +"</option>")
				})
			}
		})
	})
</script>
