﻿@using xpos314.viewmodels
@model VMTblProduct
@{
	Layout = null;
	ViewData["Title"] = "Detail Product";
	string image = Model.Image!.Replace(Model.Image.Split('_')[0],"").Substring(1);
}
<div class="card mt-4">
	<div class="card-body">
		<h4>@ViewData["Title"]</h4>
			<input type="hidden" name="Id" id="Id" value="@Model.Id" />
			<div class="form-group row mb-2">
				<label for="NameProduct" class="col-sm-4 col-form-label">Product Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="NameProduct" id="NameProduct" value="@Model.NameProduct" readonly>
				</div>
			</div>
			<div class="mb-4 row">
				<label for="IdCategory" class="col-sm-4 col-form-label">Category</label>
				<div class="col-sm-8">
				<input type="text" class="form-control" name="NameCategory" id="NameCategory" value="@Model.NameCategory" readonly>
			</div>
			</div>
			<div class="mb-4 row">
				<label for="IdVariant" class="col-sm-4 col-form-label">Variant</label>
				<div class="col-sm-8">
				<input type="text" class="form-control" name="NameVariant" id="NameVariant" value="@Model.NameVariant" readonly>
			</div>
			</div>

			<div class="form-group row mb-2">
				<label for="Price" class="col-sm-4 col-form-label">Price</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="Price" id="Price" value="@Model.Price" readonly>
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="Stock" class="col-sm-4 col-form-label">Stock</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="Stock" id="Stock" value="@Model.Stock" readonly>
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="ImageFile" class="col-sm-4 col-form-label"></label>
				<div class="col-sm-8">
			     <input type="text" class="form-control" name="Image" value="@image" readonly />
				 <img src="~/images/@Model.Image" class="rounded" height="80" width="90" />
				</div>
			</div>
	</div>
</div>
