﻿@using xpos314.datamodels
@model TblRole
@{
	ViewData["Title"] = "Detail Role";
}
<div class="card mt-4">
	<div class="card-body">
		<h4>@ViewData["Title"]</h4>
		<div class="form-group row mb-2">
			<input type="hidden" id="Id" name="Id" value="@Model.Id" />

			<label for="RoleName" class="col-sm-4 col-form-label">Role Name</label>
			<div class="col-sm-8">
				<input type="text" class="form-control" name="RoleName" id="RoleName" value="@Model.RoleName" readonly>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-10">
				<a class="btn btn-secondary" asp-controller="Role" asp-action="Index">Back</a>
			</div>
		</div>
	</div>
</div>
