﻿@using xpos314.viewmodels
@model VMTblVariant
@{
	Layout = null;
	ViewData["Title"] = "Create Variant";
}
<div class="card mt-4">
	<div class="card-body">
		<h4>@ViewData["Title"]</h4>
		<form asp-action="Create" method="post" id="form_input">
			<div class="form-group row mb-2">
				<label for="NameVariant" class="col-sm-4 col-form-label">Name Variant</label>
				<div class="col-sm-8">
					<input required type="text" class="form-control" name="NameVariant" id="NameVariant" value="@Model.NameVariant">
				</div>
			</div>
			<div class="mb-4 row">
                <label for="IdCategory" class="col-sm-4 col-form-label">Name Category</label>
                <div class="col-sm-8">
                    @Html.DropDownList("IdCategory",new SelectList(ViewBag.ListCategory, "Id", "NameCategory"),"--Choose Category--",new {@class = "form-control"})
                </div>
            </div>

			<div class="form-group row mb-2">
				<label for="Description" class="col-sm-4 col-form-label">Description</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="Description" id="Description" value="@Model.Description">
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>
					<a class="btn btn-secondary" asp-controller="Variant" asp-action="Index">Back</a>
				</div>
			</div>
		</form>
	</div>
</div>

<script>
	$("#form_input").validate({
		errorClass: "text-danger",
		rules: {
			NameVariant: {
				required: true,
				minlength: 5
			},
			IdCategory: {
				required: true
			}
		},
		messages: {
			NameVariant: {
				required: "Please fill Name of the Variant",
				minlength: "The name must consist of at least 5 characters"
			},
			IdCategory: {
				required: "Please choose the Name Category"
			}
		},
		submitHandler: function (form) {
			var dataForm = $(form).serialize()
			$.ajax({
				url: "/Variant/Create",
				data: dataForm,
				method: "post",
				dataType: "json",
				success: function (respon) {
					var data = respon.dataRespon
					if (data.success) {
						$("#myModal").modal("hide")
						toastr.success(
							data.message,
							'',
							{
								timeOut: 500,
								fadeOut: 500,
								onHidden: function () {
									window.location.reload()
								}
							}
						)
					} else {
						toastr.error(data.message)
					}
				}
			})
		}
	});
</script>
