﻿@using xpos314.viewmodels
@model VMTblVariant
@{
	Layout = null;
	ViewData["Title"] = "Edit Variant";
}
<div class="card mt-4">
	<div class="card-body">
		<h4>@ViewData["Title"]</h4>
			<div class="form-group row mb-2">
				<div class="form-group row mb-2">
					<label for="NameVariant" class="col-sm-4 col-form-label">Name Variant</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="NameVariant" id="NameVariant" value="@Model.NameVariant" readonly>
					</div>
				</div>

				<div class="mb-4 row">
					<label for="IdCategory" class="col-sm-4 col-form-label">Name Category</label>
					<div class="col-sm-8">
					<input type="text" class="form-control" name="NameCategory" id="NameCategory" value="@Model.NameCategory" readonly>
				</div>
				</div>

				<div class="form-group row mb-2">
					<label for="Description" class="col-sm-4 col-form-label">Description</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" name="Description" id="Description" value="@Model.Description" readonly>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-10">
						<a class="btn btn-secondary" asp-controller="Variant" asp-action="Index">Back</a>
					</div>
				</div>
	</div>
</div>