﻿@using xpos314.datamodels
@model ProductKalbe
@{
	ViewData["Title"] = "Detail Product";
}
<div class="card mt-4">
	<div class="card-body">
		<h4>@ViewData["Title"] : @Model.ProductName</h4>
			<div class="form-group row mb-2">
				<input type="hidden" id="Id" name="Id" value="@Model.ProductId" />
				<label for="ProductName" class="col-sm-4 col-form-label">Product Code</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="ProductName" id="ProductName" value="@Model.ProductCode" readonly>
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="ProductName" class="col-sm-4 col-form-label">Product Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="ProductName" id="ProductName" value="@Model.ProductName" readonly>
					<span id="ProductNameValidate" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="Price" class="col-sm-4 col-form-label">Price</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="Price" id="Price" value="@Model.Price" readonly>
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="Quantity" class="col-sm-4 col-form-label">Quantity</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="Quantity" id="Quantity" value="@Model.Quantity" readonly>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-10">
					<a class="btn btn-secondary" asp-controller="ProductKalbe" asp-action="Index">Back</a>
				</div>
			</div>
	</div>
</div>