﻿﻿﻿@using xpos314.datamodels
@model ProductKalbe
@{
	ViewData["Title"] = "Edit Product";
}
<div class="card mt-4">
	<div class="card-body">
		<h4>@ViewData["Title"] : @Model.ProductName</h4>
		<form asp-action="Edit" method="post" id="form_input">
			<div class="form-group row mb-2">
				<input type="hidden" id="ProductId" name="ProductId" value="@Model.ProductId" />
				<label for="ProductCode" class="col-sm-4 col-form-label">Product Code</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="ProductCode" id="ProductCode" value="@Model.ProductCode" readonly>
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="ProductName" class="col-sm-4 col-form-label">Product Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="ProductName" id="ProductName" value="@Model.ProductName">
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="Price" class="col-sm-4 col-form-label">Price</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="Price" id="Price" value="@Model.Price">
				</div>
			</div>
			<div class="form-group row mb-2">
				<label for="Quantity" class="col-sm-4 col-form-label">Quantity</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="Quantity" id="Quantity" value="@Model.Quantity">
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary">Submit</button>
					<a class="btn btn-secondary" asp-controller="ProductKalbe" asp-action="Index">Back</a>
				</div>
			</div>
		</form>
	</div>
</div>

<script>
	$("#form_input").validate({
		errorClass: "text-danger",
		rules: {
			ProductName: {
				required: true
			},
			Price: {
				required: true
			},
			Quantity:
			{
				required: true
			}
		},
		messages: {
			ProductName: {
				required: "Please fill the Product name"
			},
			Price: {
				required: "Please fill the Price"
			},
			Quantity: {
				required: "Please fill the Quantity"
			},
		},
		submitHandler: function (form) {
			var dataForm = $(form).serialize()
			$.ajax({
				url: "/ProductKalbe/Edit",
				data: dataForm,
				method: "post",
				dataType: "json",
				success: function (respon) {
					var data = respon.dataRespon
					if (data.success) {
						$("#myModal").modal("hide")
						toastr.success(
							data.message,
							'',
							{
								timeOut: 500,
								fadeOut: 500,
								onHidden: function () {
									window.location.reload()
								}
							}
						)
					} else {
						toastr.error(data.message)
					}
				}
			})
		}
	});
</script>


