﻿@model Friend

<div class="h3 mb-6"> Are you sure want to delete this data? </div>
<div> 
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Model.Id</th>
            <td>@Model.Name</td>
            <td>@Model.Address</td>
        </tr>
    
    </table>
</div>
<form action="Delete" method="post">
    <div>
        <button type="submit" class="btn btn-primary" asp-route-id=@Model.Id>Yes</button>
        <a class="btn btn-danger" asp-action="Index" asp-controller="Friend">No</a>
    </div>
</form>