﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2> Page Friend </h2>
<a class="btn btn-primary" asp-action="Create" asp-controller="Friend">Add Friend</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Friend f in Model)
        {
        <tr>
            <th scope="row">@f.Id</th>
            <td>@f.Name</td>
            <td>@f.Address</td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-controller="Friend" asp-route-id="@f.Id">Edit</a>
                    <a class="btn btn-success" asp-action="Detail" asp-controller="Friend" asp-route-id="@f.Id">Detail</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Friend" asp-route-id="@f.Id"> Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>